<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
  <title>Document</title>
</head>

<body>
  <div class="card__inserir">
    <div class="lista">
      <h1>Classificadores</h1>

      <form id="myForm" method="POST">
        <label for="classifiers">classificadores:</label><br />
        <select id="dropdownClassifier" name="dropdownClassifier" onchange="mostrarInput()">
          <option value="nulo">Selecione...</option>
          <option value="knn">knn</option>
          <option value="dt">dt</option>
          <option value="mlp">mlp</option>
          <option value="rf">rf</option>
        </select>
        <br /><br />
        <label for="randomstate" id="label_random_state">Random State:</label><br />
        <input type="number" min="0" id="random_state" name="random_state" required /><br /><br />

        <label for="parametro1" id="label_parametro1" style="display: none;">Parametro 1:</label><br />
        <input id="parametro1" name="parametro1" style="display: none;" /><br /><br />

        <label for="parametro2" id="label_parametro2" style="display: none;">Parametro 2:</label><br />
        <input id="parametro2" name="parametro2" style="display: none;" /><br /><br />

        <input type="submit" id="btn" value="Enviar" disabled>
      </form>

    </div>
    {% if exibir_imagem %}
    <div>
      <img src="{{ url_for('static', filename=img) }}" alt="Minha Imagem">
      <br><br>
      <p>Accuracy: {{ accuracy }}</p>
      <p>Precision: {{ precision }}</p>
      <p>Recall: {{ recall }}</p>
      <p>F1-Score: {{ f1 }}</p>
    </div>
    {% endif %}
  </div>


  <script>
    function mostrarInput() {
      const dropdown = document.getElementById('dropdownClassifier');
      const inputContainer1 = document.getElementById('parametro1');
      const labeContainer1 = document.getElementById('label_parametro1');
      const inputContainer2 = document.getElementById('parametro2');
      const labeContainer2 = document.getElementById('label_parametro2');
      const submitBtn = document.getElementById('btn');

      if (dropdown.value === 'knn') {
        inputContainer1.style.display = 'block';
        inputContainer1.required = true;
        inputContainer1.min = '0';
        inputContainer1.type = 'number';
        labeContainer1.innerHTML = "n_neighbors:"
        labeContainer1.style.display = '';
        inputContainer1.removeAttribute('placeholder');

        inputContainer2.style.display = 'none';
        inputContainer2.removeAttribute('min');
        inputContainer2.removeAttribute('placeholder');
        labeContainer2.style.display = 'none';


        submitBtn.disabled = false;
      }

      else if (dropdown.value === 'dt') {
        inputContainer1.style.display = 'block';
        inputContainer1.min = '0';
        inputContainer1.required = true;
        inputContainer1.placeholder = "gini, entropy, log_loss";
        inputContainer1.type = 'text';
        labeContainer1.innerHTML = "criterion:"
        labeContainer1.style.display = 'block';

        inputContainer2.style.display = 'block';
        inputContainer2.min = '0';
        inputContainer2.type = 'number';
        labeContainer2.innerHTML = "max depth:"
        labeContainer2.style.display = 'block';
        inputContainer2.removeAttribute('placeholder');

        submitBtn.disabled = false;
      }

      else if (dropdown.value === 'mlp') {
        inputContainer1.style.display = 'block';
        inputContainer1.min = '1';
        inputContainer1.type = 'number';
        labeContainer1.innerHTML = "hidden layer sizes:"
        labeContainer1.style.display = 'block';
        inputContainer1.removeAttribute('placeholder');

        inputContainer2.style.display = 'block';
        inputContainer2.placeholder = "relu, indentity, logistic, tanh";
        inputContainer2.type = "text";
        labeContainer2.innerHTML = "activation:"
        labeContainer2.style.display = 'block';

        submitBtn.disabled = false;
      }

      else if (dropdown.value === 'rf') {
        inputContainer1.style.display = 'block';
        inputContainer1.min = '1';
        inputContainer1.type = 'number';
        labeContainer1.innerHTML = "n estimators:"
        labeContainer1.style.display = 'block';
        inputContainer1.removeAttribute('placeholder');

        inputContainer2.style.display = 'block';
        inputContainer2.min = '1';
        inputContainer2.type = 'number';
        labeContainer2.innerHTML = "max Depth:"
        labeContainer2.style.display = 'block';
        inputContainer2.removeAttribute('placeholder');

        submitBtn.disabled = false;
      }
      else {
        inputContainer1.style.display = 'none';
        inputContainer1.removeAttribute('min');
        labeContainer1.style.display = 'none';

        inputContainer2.style.display = 'none';
        inputContainer2.removeAttribute('min');
        labeContainer2.style.display = 'none';

        submitBtn.disabled = true;
      }
    }
  </script>

</body>



</html>